@font-face {
  font-family: RockinRecord;
  src: url("/content/fonts/gomarice_rockin_record.ttf");
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-family: RockinRecord, sans-serif;
}

html, body {
  height: 100vh;
  width: 100%;
}

body {
  position: relative;
  background-color: #FF9900;
}
body.is-home > .container {
  position: relative;
}
body.is-home.is-loading #logo {
  scale: 1;
  animation: logo-bounce-out 600ms forwards ease-in-out;
  animation-delay: 300ms;
}
@keyframes logo-bounce-out {
  from {
    scale: 1;
  }
  10% {
    scale: 1.275;
  }
  to {
    scale: 0;
  }
}
@media (min-width: 1024px) {
  body.is-home.is-loading #steve-harvey {
    transform: translate(82%, 0%) scale(1);
    animation: steve-bounce-out 300ms forwards ease-in-out;
    animation-delay: 0ms;
  }
  @keyframes steve-bounce-out {
    from {
      transform: translate(82%, 0) scale(1);
    }
    to {
      transform: translate(82%, 100%) scale(0);
    }
  }
}
body.is-home #logo {
  width: 100%;
  height: auto;
  margin: auto;
  scale: 0;
  animation: logo-bounce-in 600ms forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-delay: 800ms;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
@keyframes logo-bounce-in {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
body.is-home #steve-harvey {
  display: none;
}
@media (min-width: 1024px) {
  body.is-home > .container {
    overflow: hidden;
  }
  body.is-home #logo {
    width: 724px;
    height: 389px;
  }
  body.is-home #steve-harvey {
    display: block;
    z-index: 10;
    width: 477px;
    height: 545px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translate(82%, 100%) scale(0);
    animation: steve-bounce-in 300ms forwards cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-delay: 1100ms;
    transform-origin: center;
  }
  @keyframes steve-bounce-in {
    from {
      transform: translate(82%, 100%) scale(0);
    }
    to {
      transform: translate(82%, 0) scale(1);
    }
  }
}

.container {
  width: calc(100% - 4.8rem);
  margin: 0 auto;
}
@media (min-width: 480px) {
  .container {
    width: calc(100% - 7.2rem);
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 90%;
    width: calc(100% - 9.6rem);
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 80%;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 122rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}
@keyframes bounce-in {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes bounce-out {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0);
  }
}
body.is-home .content-wrapper::before {
  transform: translate(-50%, -50%) scale(0);
  animation: bounce-in 600ms forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body.is-home .content-wrapper::after {
  transform: translate(-50%, -50%) scale(0);
  animation: bounce-in 600ms forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-delay: 300ms;
}
body.is-home.is-loading .content-wrapper::before {
  transform: translate(-50%, -50%) scale(1);
  animation: bounce-out 600ms forwards ease-in-out;
  animation-delay: 1200ms;
}
body.is-home.is-loading .content-wrapper::after {
  transform: translate(-50%, -50%) scale(1);
  animation: bounce-out 600ms forwards ease-in-out;
  animation-delay: 900ms;
}
.content-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: -5;
  height: 1282px;
  width: 1282px;
  border-radius: 100%;
  background-color: #FF8A00;
}
.content-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -4;
  height: 560px;
  width: 560px;
  border-radius: 100%;
  background-color: #FF6B00;
}

.game-wrapper {
  z-index: 10;
  isolation: isolate;
}

#background-star {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  rotate: 0deg;
  transform-origin: center;
  z-index: -3;
  width: 250vw;
  animation: rotate 60s linear infinite;
}
@media (min-width: 768px) {
  #background-star {
    width: 120vw;
  }
}
body.is-home #background-star {
  scale: 0;
  animation: star-bounce-in 1500ms forwards cubic-bezier(0.075, 0.82, 0.165, 1), rotate 60s linear infinite;
  animation-delay: 630ms;
}
body.is-home.is-loading #background-star {
  scale: 1;
  animation: rotate 60s linear infinite, star-bounce-out 600ms forwards ease-in-out;
  animation-delay: 630ms;
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes star-bounce-in {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes star-bounce-out {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}

.pair-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
  gap: 12px;
  margin: auto;
  margin-top: 130px;
}
@media (min-width: 1024px) {
  .pair-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 240px;
  }
}

.pair-mobile-arrow {
  height: 40px;
  width: 40px;
  background-color: white;
  border: 5px solid black;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  --translate-x: -50%;
}
.pair-mobile-arrow[disabled], .pair-mobile-arrow[disabled=true] {
  opacity: 0.5;
  pointer-events: none;
}
.pair-mobile-arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(var(--translate-x), -50%);
  content: "";
  background-image: url("../../content/arrow.svg");
  height: 18px;
  width: 18px;
  background-size: 100% 100%;
}
.pair-mobile-arrow-left {
  left: -48px;
}
.pair-mobile-arrow-left:hover {
  --translate-x: calc(-50% - 3px);
}
.pair-mobile-arrow-right {
  right: -48px;
}
.pair-mobile-arrow-right::before {
  transform: translate(var(--translate-x), -50%) rotate(180deg);
}
.pair-mobile-arrow-right:hover {
  --translate-x: calc(-50% + 3px);
}
@media (min-width: 1024px) {
  .pair-mobile-arrow {
    display: none;
  }
}

.pair-key-wrapper, .pair-value-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  margin: 0 24px;
  gap: 12px;
  position: relative;
  min-height: 146px;
}
.pair-key-wrapper .pair-block:not([selected=true]), .pair-value-wrapper .pair-block:not([selected=true]) {
  display: none;
}
.pair-key-wrapper .pair-key-block, .pair-value-wrapper .pair-key-block {
  padding-bottom: 50px;
}
.pair-key-wrapper .pair-value-block, .pair-value-wrapper .pair-value-block {
  justify-content: center;
  text-align: center;
}
.pair-key-wrapper .pair-value-block p, .pair-value-wrapper .pair-value-block p {
  font-size: 20px;
  font-weight: normal;
  font-family: RockinRecord;
}
@media (min-width: 1024px) {
  .pair-key-wrapper, .pair-value-wrapper {
    min-height: unset;
  }
  .pair-key-wrapper .pair-block, .pair-value-wrapper .pair-block {
    overflow: initial;
    padding-bottom: 20px;
  }
  .pair-key-wrapper .pair-block::after, .pair-value-wrapper .pair-block::after {
    all: unset;
  }
  .pair-key-wrapper .pair-value-block, .pair-value-wrapper .pair-value-block {
    justify-content: flex-start;
    padding-left: 32px;
    text-align: left;
  }
  .pair-key-wrapper .pair-block:not([selected=true]), .pair-value-wrapper .pair-block:not([selected=true]) {
    display: flex;
  }
}

.leaderboard-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.leaderboard-list .leaderboard-item {
  background-color: white;
  padding: 15px;
  display: flex;
  align-items: center;
}
.leaderboard-list .leaderboard-item #email {
  font-family: "Montserrat", sans-serif;
  padding-right: 20px;
}
.leaderboard-list .leaderboard-item-you #email::after {
  content: " (you)";
  color: #a2acaa;
}
.leaderboard-list .leaderboard-item #placement {
  margin-right: 24px;
}
.leaderboard-list .leaderboard-item #time-left {
  margin-left: auto;
}
.leaderboard-list .leaderboard-item #time-left::after {
  content: "s";
  font-size: 13px;
}
@media (min-width: 1024px) {
  .leaderboard-list .leaderboard-item {
    font-size: 20px;
  }
  .leaderboard-list .leaderboard-item #time-left::after {
    font-size: 15px;
  }
}

.leaderboard-wrapper {
  border-radius: 20px;
  border: 5px solid black;
  background-color: white;
  padding: 12px;
  width: 100%;
  max-width: 800px;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 1024px) {
  .leaderboard-wrapper {
    padding: 32px;
  }
}

.popup-wrapper {
  border-radius: 20px;
  border: 5px solid black;
  background-color: white;
  padding: 32px;
  width: 100%;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.popup-wrapper > p {
  font-size: 40px;
  text-align: center;
}
.popup-wrapper .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.popup-wrapper .input-wrapper input {
  padding: 5px 15px;
  border: 5px solid black;
  border-radius: 10px;
  font-size: 20px;
  max-width: 242px;
  min-height: 65px;
}
.popup-wrapper .input-wrapper button#play-button {
  background-color: #00D1FF;
  color: #0374B3;
}
@media (min-width: 1024px) {
  .popup-wrapper {
    padding: 72px 91px;
    width: unset;
  }
  .popup-wrapper .input-wrapper {
    flex-direction: row;
  }
}

button {
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: normal;
  border: 5px solid black;
}
button.mobile-connect-button, button.mobile-disconnect-button {
  margin: 0 24px;
}
button.mobile-connect-button:hover, button.mobile-disconnect-button:hover {
  filter: contrast(1.15) brightness(0.9);
}
button.mobile-connect-button {
  background-color: #00FF47;
  color: #01963c;
}
button.mobile-disconnect-button {
  background-color: #ff004c;
  color: #970732;
}
@media (min-width: 1024px) {
  button.mobile-connect-button, button.mobile-disconnect-button {
    display: none;
  }
}

#timer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  border: 5px solid black;
  border-top: 0;
  border-radius: 0 0 20px 20px;
  padding: 30px 80px;
  width: 200px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.pair-block {
  pointer-events: none;
  border: 5px solid black;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  font-size: 15px;
  width: 100%;
  --angle: 0deg;
  --distance: 100px;
  overflow: hidden;
}
.pair-block p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.pair-block img {
  height: 100%;
}
.pair-block p {
  color: black;
}
.pair-block .anchor-point {
  display: none;
}
.pair-block::after {
  position: absolute;
  content: "";
  height: 22px;
  width: 100%;
  background-color: black;
  background-image: url("../../content/string.svg");
  background-position: 0 0;
  bottom: -5px;
  left: 0;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 5px 0px 0px 0px black, -5px 0px 0px 0px black;
}
.pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="0"]::after {
  background-image: url("../../content/string_red.svg");
}
.pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="1"]::after {
  background-image: url("../../content/string_blue.svg");
}
.pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="2"]::after {
  background-image: url("../../content/string_green.svg");
}
.pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="3"]::after {
  background-image: url("../../content/string_orange.svg");
}
.pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="4"]::after {
  background-image: url("../../content/string_pink.svg");
}
.pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="5"]::after {
  background-image: url("../../content/string_yellow.svg");
}
.pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="0"]::after {
  background-image: url("../../content/string_red.svg");
}
.pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="1"]::after {
  background-image: url("../../content/string_blue.svg");
}
.pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="2"]::after {
  background-image: url("../../content/string_green.svg");
}
.pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="3"]::after {
  background-image: url("../../content/string_orange.svg");
}
.pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="4"]::after {
  background-image: url("../../content/string_pink.svg");
}
.pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="5"]::after {
  background-image: url("../../content/string_yellow.svg");
}
@media (min-width: 1024px) {
  .pair-block {
    pointer-events: visible;
    padding-right: 35px;
    overflow: initial;
  }
  .pair-block::after {
    bottom: unset;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="0"] {
    color: #FF0000;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="0"]::after {
    background-image: url("../../content/string_red.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="1"] {
    color: #1A5AFF;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="1"]::after {
    background-image: url("../../content/string_blue.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="2"] {
    color: #229342;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="2"]::after {
    background-image: url("../../content/string_green.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="3"] {
    color: #FF6B00;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="3"]::after {
    background-image: url("../../content/string_orange.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="4"] {
    color: #FF00D6;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="4"]::after {
    background-image: url("../../content/string_pink.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="5"] {
    color: #F7DF1E;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="5"]::after {
    background-image: url("../../content/string_yellow.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="0"] {
    color: #FF0000;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="0"]::after {
    background-image: url("../../content/string_red.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="1"] {
    color: #1A5AFF;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="1"]::after {
    background-image: url("../../content/string_blue.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="2"] {
    color: #229342;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="2"]::after {
    background-image: url("../../content/string_green.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="3"] {
    color: #FF6B00;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="3"]::after {
    background-image: url("../../content/string_orange.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="4"] {
    color: #FF00D6;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="4"]::after {
    background-image: url("../../content/string_pink.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="5"] {
    color: #F7DF1E;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])[data-id="5"]::after {
    background-image: url("../../content/string_yellow.svg");
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none]):hover::after {
    animation-play-state: running;
    box-shadow: 5px 0px 0px 0px black, -5px 0px 0px 0px black, 5px 0px 0px 5px white, -5px 0px 0px 5px white;
    z-index: 4;
  }
  @keyframes selected {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 770px 0;
    }
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none]):hover::before {
    position: absolute;
    content: "";
    height: 50px;
    width: var(--distance);
    background-image: url("../../content/scissors.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    top: 0;
    left: 100%;
    transform-origin: center left;
    transform: translate(0%, calc(-50% + 28px)) rotate(var(--angle));
    border-radius: 4px;
    z-index: 10;
  }
  .pair-block.pair-key-block[data-selecting=none]:not([data-connection=none])::after {
    animation: selected 20s infinite linear;
    animation-play-state: paused;
    position: absolute;
    content: "";
    height: 22px;
    width: var(--distance);
    background-color: black;
    background-image: url("../../content/string.svg");
    background-position: 0 0;
    background-size: auto 100%;
    top: 50%;
    left: 100%;
    transform-origin: center left;
    transform: translate(0%, -50%) rotate(var(--angle));
    border-radius: 4px;
    z-index: -1;
    box-shadow: 5px 0px 0px 0px black, -5px 0px 0px 0px black;
  }
  .pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])::after {
    all: unset;
  }
  .pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="0"] {
    color: #FF0000;
  }
  .pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="1"] {
    color: #1A5AFF;
  }
  .pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="2"] {
    color: #229342;
  }
  .pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="3"] {
    color: #FF6B00;
  }
  .pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="4"] {
    color: #FF00D6;
  }
  .pair-block.pair-value-block[data-selecting=none]:not([data-connection=none])[data-connection="5"] {
    color: #F7DF1E;
  }
  .pair-block[data-selecting=key]::after, .pair-block:not([data-connection=none])::after {
    position: absolute;
    content: "";
    height: 22px;
    width: var(--distance);
    background-color: black;
    background-image: url("../../content/string.svg");
    background-position: 0 0;
    background-size: auto 100%;
    top: 50%;
    right: 0;
    transform-origin: center left;
    transform: translate(100%, -50%) rotate(var(--angle));
    border-radius: 4px;
    z-index: -1;
    box-shadow: 5px 0px 0px 0px black, -5px 0px 0px 0px black;
  }
  .pair-block[data-selecting=value]::after, .pair-block:not([data-connection=none])::after {
    position: absolute;
    content: "";
    height: 22px;
    width: var(--distance);
    background-color: black;
    background-image: url("../../content/string.svg");
    background-position: 0 0;
    background-size: auto 100%;
    top: 50%;
    left: 0;
    transform-origin: center right;
    transform: translate(-100%, -50%) rotate(var(--angle));
    border-radius: 4px;
    z-index: -1;
    box-shadow: 5px 0px 0px 0px black, -5px 0px 0px 0px black;
  }
  .pair-block p {
    z-index: 10;
  }
  .pair-block .anchor-point {
    display: block;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(18px, -50%);
    z-index: 5;
  }
  .pair-block .anchor-point-left {
    right: unset;
    left: 0%;
    transform: translate(-18px, -50%) rotate(180deg);
  }
}

/*# sourceMappingURL=main.css.map */
