<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/css/main.css">
        <title>Document</title>
    </head>
    <body class="is-home">
        <div class="content-wrapper">
            <img src="content/background-star.svg" id="background-star">
        </div>
        <div class="container" style="display: flex; height: 100%;">
            <img src="content/logo.png" alt="Name That Show!" id="logo">
            <img src="content/steve-harvey.png" alt="Your host, Steve Harvey" id="steve-harvey">
        </div>
    </body>
</html>

<script defer>
setTimeout(() => {
    window.onclick = e => {
        document.body.classList.toggle("is-loading", true)

        setTimeout(() => {
            window.location.replace("/game")
        }, 1800)
    }
}, 1200)
</script>